<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877642521684-kjd7hn85ioo3pi5s82ai43r24opni4r5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877642521684-kjd7hn85ioo3pi5s82ai43r24opni4r5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>877642521684-khboi64noj8jvm9aebftfjl7t50nuqfc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCFoCTS34R-Hs1oQ6yihDRdxXrC1SqWjY4</string>
	<key>GCM_SENDER_ID</key>
	<string>877642521684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.usakseramik.app</string>
	<key>PROJECT_ID</key>
	<string>usakseramik-53fff</string>
	<key>STORAGE_BUCKET</key>
	<string>usakseramik-53fff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877642521684:ios:98a3cf1fc2c01adf3721c1</string>
</dict>
</plist>